src/de/fuberlin/panda/api/jersey/valueExchangeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PANDA">
		<xs:complexType>
		<xs:sequence>
				<xs:element type="xs:string" name="BaseURI" minOccurs="1" maxOccurs="1"/>
				<xs:element name="value" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:anySimpleType"> 
								<xs:attribute name="type" type="xs:string" use="required"/> 
								<xs:attribute name="subURI" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>